<?xml version="1.0" ?>
<launch>
  <include file="$(find carlos_controller)/launch/jvalinhas_empty.launch"/>

  <!-- start controller manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find carlos_controller)/urdf/guardian.urdf'" />
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_object" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -y 3.0 -z 0.25 -model guardian" respawn="false" output="screen" />

  <!--guardian_controller.yaml-->
  <rosparam file="$(find guardian_controller)/guardian_controller.yaml" command="load"/>

  <param name="pr2_controller_manager/joint_state_publish_rate" value="100.0" />
  <!-- node name = spawn_guardian_controller-->
  <node name="guardian_controller" pkg="pr2_controller_manager" type="spawner" args="guardian_controller" respawn="false" output="screen"/>

  <!-- Run /odom -->
  <!--node name="guardian_odometry" pkg="guardian_odometry" type="guardian_odometry"/-->

</launch>
