<?xml version="1.0" ?>
<launch>
  <!-- The Master Launchfile for driving an actual Powerball via MoveIt. -->

  <!-- load the robot_description parameter before launching ROS-I nodes -->
  <include file="$(find powerball_moveit_config)/launch/planning_context.launch" />

  <!-- upload robot_description -->
  <include file="$(find powerball_description)/launch/upload_powerball.launch" />

  <!-- start arm  -->
  <include file="$(find schunk_bringup)/components/powerball.launch" />

  <!-- run MoveIt state display node -->
  <include file="$(find powerball_moveit_config)/launch/powerball_state_display.launch" />

  <!-- publish the robot state (tf transforms), also launch robot's init script -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" launch-prefix="$(find powerball_moveit_config)/launch/init.sh"/>

  <include file="$(find powerball_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="execution_duration_monitoring" value="false"/>
  </include>

  <include file="$(find powerball_moveit_config)/launch/default_warehouse_db.launch" />

  <rosparam command="load" file="$(find powerball_moveit_config)/config/joint_names.yaml"/>

  <rosparam file="$(find amn_common)/config/amn_powerball.yaml"/>

  <rosparam file="$(find fisiorob_controller)/config/fisiorob.yaml"/>

</launch>

